
#pride {
  height: 100px;

  position: relative;
  top: 10px;
}

#pride path {
    stroke: white;
}

#pride line {
    stroke: white;
}

#trans {
  height: 125px;
  position: absolute;
  bottom: -10px;
  left: 50px;
} 

#bi {
  height: 125px;
  position: absolute;
  bottom: -10px;
  left: 150px;
}

#pan {
    height: 125px;
  position: absolute;
  bottom: -10px;
  left: 250px;
}

#ace {
  height: 125px;
  position: absolute;
  bottom: -10px;
  left: 350px;
}

#gay {
  height: 125px;
  position: absolute;
  bottom: -10px;
  left: 450px;
}

